body{
    padding: 10rem;
}
.grid{
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem;
    
}
.item-7{
   grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end:4;

}
.item-16{
    grid-column-start: 4;
}
input{
    width: 11.6rem;
}